service: cvbaby-gql

plugins:
  - serverless-offline
  - serverless-webpack
  - serverless-s3-remover
  - serverless-domain-manager

provider:
  name: aws
  runtime: nodejs10.x
  region: us-east-1
  stage: ${opt:stage, "dev"}
  environment: ${file(./config.${opt:stage, "dev"}.json)}
  timeout: 30
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:*
      Resource: arn:aws:dynamodb:${self:provider.region}:*:*
    - Effect: Allow
      Action:
        - s3:*
      Resource: arn:aws:s3:::${self:provider.environment.CVBABY_HOST_DATA}
    - Effect: Allow
      Action:
        - s3:*
      Resource: arn:aws:s3:::${self:provider.environment.CVBABY_HOST_DATA}/*
    - Effect: Allow
      Action:
        - 'ses:SendEmail'
      Resource: '*'
    - Effect: Allow
      Action:
        - cognito-idp:* # TODO - Make this more specific
      Resource: arn:aws:cognito-idp:${self:provider.region}:*:userpool/* # TODO - change this to specific user pool
    - Effect: Allow
      Action:
        - lambda:InvokeFunction
      Resource: arn:aws:lambda:${self:provider.region}:*:function:* # TODO - change this to specific functions

custom:
  serverless-offline:
    port: 3001
  webpack:
    webpackConfig: ./webpack.config.js
    includeModules:
      forceExclude:
        - aws-sdk
  remover:
     buckets:
       - ${self:provider.environment.CVBABY_HOST_DATA}
  customDomain:
    domainName: ${self:provider.environment.CVBABY_HOST_GQL}
    certificateName: 'cv.baby'
    stage: ${opt:stage, "dev"}
    createRoute53Record: true

functions:
  # Authentication
  auth:
    handler: auth/handler.authorizer

  # GQL Public
  public:
    handler: handler.handlerPublic
    events:
      - http:
          path: /public
          method: post
          cors: true

  # GQL Private
  private:
    handler: handler.handlerPrivate
    events:
      - http:
          path: /private
          method: post
          authorizer: auth
          cors: true

resources:
  Resources:
    # S3 Bucket (Postprocess)
    BucketPost:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:provider.environment.CVBABY_HOST_DATA}
        CorsConfiguration:
          CorsRules:
            - AllowedOrigins:
                - '*'
              AllowedHeaders:
                - '*'
              AllowedMethods:
                - GET
              MaxAge: 3000

    # DynamoDB Users Table
    UsersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        AttributeDefinitions:
          - AttributeName: userID
            AttributeType: S
        KeySchema:
          - AttributeName: userID
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        TableName: ${self:provider.environment.CVBABY_TABLE_USERS}

    # DynamoDB Resumes Table
    ResumesTable:
      Type: AWS::DynamoDB::Table
      Properties:
        AttributeDefinitions:
          - AttributeName: userID
            AttributeType: S
          - AttributeName: resumeID
            AttributeType: S
        KeySchema:
          - AttributeName: userID
            KeyType: HASH
          - AttributeName: resumeID
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST
        TableName: ${self:provider.environment.CVBABY_TABLE_RESUMES}

    # DynamoDB Slugs Table
    SlugsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        AttributeDefinitions:
          - AttributeName: slug
            AttributeType: S
        KeySchema:
          - AttributeName: slug
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        TableName: ${self:provider.environment.CVBABY_TABLE_SLUGS}

    # DynamoDB Analytics Table
    AnalyticsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        AttributeDefinitions:
          - AttributeName: resumeID
            AttributeType: S
          - AttributeName: stamp
            AttributeType: N
        KeySchema:
          - AttributeName: resumeID
            KeyType: HASH
          - AttributeName: stamp
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST
        TableName: ${self:provider.environment.CVBABY_TABLE_ANALYTICS}

    # This response is needed for custom authorizer failures CORS support.
    # https://docs.aws.amazon.com/apigateway/latest/developerguide/customize-gateway-responses.html
    GatewayResponse:
      Type: 'AWS::ApiGateway::GatewayResponse'
      Properties:
        ResponseParameters:
          gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
          gatewayresponse.header.Access-Control-Allow-Headers: "'*'"
        ResponseType: EXPIRED_TOKEN
        RestApiId:
          Ref: 'ApiGatewayRestApi'
        StatusCode: '401'
    AuthFailureGatewayResponse:
      Type: 'AWS::ApiGateway::GatewayResponse'
      Properties:
        ResponseParameters:
          gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
          gatewayresponse.header.Access-Control-Allow-Headers: "'*'"
        ResponseType: UNAUTHORIZED
        RestApiId:
          Ref: 'ApiGatewayRestApi'
        StatusCode: '401'
