{
  "root": true,
  "env": {
    "jest": true,
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "extends": [
    "plugin:prettier/recommended",
    "prettier"
  ],
  "plugins": [
    "import",
    "node",
    "promise",
    "standard",
    "prettier"
  ],
  "rules": {
    "no-console": "off",
    "no-unused-vars": "error"
  }
}
