// Import Vuetify styling
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700')
@import url('https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css')
@import url('https://use.fontawesome.com/releases/v5.8.1/css/brands.css')
@require '~vuetify/src/stylus/app.styl'

p
  font-family: 'Open Sans', sans-serif !important