service: cvbaby-users

plugins:
  - serverless-webpack
  - serverless-cognito-add-custom-attributes
  - '@anttiviljami/serverless-stack-output'

provider:
  name: aws
  runtime: nodejs10.x
  region: us-east-1
  stage: ${opt:stage, "dev"}
  environment: ${file(./config.${opt:stage, "dev"}.json)}
  timeout: 30
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:*
      Resource: arn:aws:dynamodb:${self:provider.region}:*:table/${self:provider.environment.CVBABY_TABLE_USERS}
    - Effect: Allow
      Action:
        - cognito-idp:AdminUpdateUserAttributes
      Resource: arn:aws:cognito-idp:${self:provider.region}:*:userpool/* # TODO - change this to specific user pool

custom:
  webpack:
    webpackConfig: ./webpack.config.js
    includeModules:
      forceExclude:
        - aws-sdk

  CognitoAddCustomAttributes:
    CognitoUserPoolIdOutputKey: UserPoolId
    CognitoUserPoolClientIdOutputKey: UserPoolClientId
    CustomAttributes:
      -
        AttributeDataType: Number
        DeveloperOnlyAttribute: False
        Mutable: True
        Name: subscriptionState
        Required: False
      -
        AttributeDataType: String
        DeveloperOnlyAttribute: False
        Mutable: True
        Name: subscriptionID
        Required: False

  output:
    handler: output.handler

resources:
  Resources:
    CognitoUserPoolCvbabyuserpooldev:
      Type: AWS::Cognito::UserPool
      Properties:
        UserPoolName: ${self:provider.environment.CVBABY_USER_POOL_NAME}
        AutoVerifiedAttributes:
          - email
    CognitoUserPoolClient:
      Type: AWS::Cognito::UserPoolClient
      Properties:
        ClientName: ${self:provider.environment.CVBABY_USER_POOL_CLIENT_NAME}
        UserPoolId:
          Ref: ${self:provider.environment.CVBABY_USER_POOL_LOGICAL_ID}
        ExplicitAuthFlows:
          - ADMIN_NO_SRP_AUTH
        GenerateSecret: false

  Outputs:
    UserPoolId:
      Value:
        Ref: ${self:provider.environment.CVBABY_USER_POOL_LOGICAL_ID}
    UserPoolClientId:
      Value:
        Ref: CognitoUserPoolClient

functions:
  # Cognito pre-signup hook
  confirmUser:
    handler: events.confirmUser
    events:
      - cognitoUserPool:
          pool: ${self:provider.environment.CVBABY_USER_POOL_NAME}
          trigger: PreSignUp

  # Cognito post-confirmation hook
  createUser:
    handler: events.createUser
    events:
      - cognitoUserPool:
          pool: ${self:provider.environment.CVBABY_USER_POOL_NAME}
          trigger: PostConfirmation
